.todoListItem{
    padding: 5px;
}

.editingForm{
    display: flex;
}

.todoListItem form{
    background-color:oklch(96.7% 0.003 264.542);
    padding: 1em;
    border-radius: 5px;
    min-width: 600px;
}

.todoListItem form:hover{
    border-left: 5px solid var(--accent-color);
    border-radius: 0 5px 5px 0;

}

.todoListItem .cancel{
    background-color: #e63946;
    color: #f1f1f1;
}

.todoListItem .cancel:hover{
    background-color: #e6666e;
}

.todoListItem .update{
    background-color: #b3e6ff;
}

.todoListItem .update:hover{
    background-color: #c3dceb;
}

.todoListItem span{
    cursor: pointer;
}

input[type='checkbox']{
    transform: scale(1.5);
    margin-right: 10px;
    cursor: pointer;
}

input[type='checkbox']:hover::after{
    content: '✓';
    font-weight: 600;
    position: absolute;
    transform: translate(1.8px,-1px);
    font-size: .7rem;
    color: green;
}

input[type='checkbox']:checked{
    background-color: lightgreen;
}