.todoListItem{
    padding: 5px;
}

.todoListItem form{
    background-color:oklch(96.7% 0.003 264.542);
    padding: 1em;
    border-radius: 5px;
    min-width: 400px;
}

.todoListItem .cancel{
    background-color: #e63946;
    color: #f1f1f1;
}

.todoListItem .update{
    background-color: #b3e6ff;
}

.todoListItem span{
    cursor: pointer;
}

.todoListItem span:hover{
    color: #7b8891;
}


input[type='checkbox']{
    transform: scale(1.5);
    margin-right: 10px;
    accent-color: green;
}

input[type='checkbox']:hover::after{
    content: '✓';
    font-weight: 600;
    position: absolute;
    transform: translate(1.8px,-1px);
    font-size: .7rem;
    color: green;
}

