.body{
    border: 1px dashed var(--secondary-color);
    padding: 2.5em;
}

.body h1{
    margin-bottom: 1em;
    text-transform:uppercase;
    letter-spacing: 5px;
}

.body h1::after{
    content: "⚙️";
}