.body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body h1{
    margin-bottom: 1em;
    text-transform:uppercase;
    letter-spacing: 5px;
}

.body h1::after{
    content: "⚙️";
}