/*** CSS RESET ***/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
    interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
    width: 100%;
}
/*** Typography system ***/
h1 {
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 700;
    color: var(--accent-color);
}

p {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    color: var(--primary-text-color);
}


/*** Color system ***/

:root {
    --primary-color: #FB8500;            
    --accent-color:#FFB703;            
    --background-color: #023047;
    --primary-text-color:oklch(98.5% 0 0) ;    
    --dark-text-color: oklch(25.7% 0.09 281.288);  
    --secondary-color: #dad9d8; 
}
/*** general styling ***/

button{
    color: var(--dark-text-color);
    background-color:var(--accent-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-inline: 6px;
    margin-left: 5px;
    font-size: .9rem;
}

button:disabled{
    background-color: gray;
    cursor: not-allowed;
}

button:disabled:hover{
    background-color: gray;
}

button:hover{
    background-color: var(--primary-color);
}

input{
    border: 1px solid var(--primary-text-color);
    background-color:transparent;
    border: none;
    border-bottom: 1px solid gray;
    max-width: 400px;
    padding-left:10px;
}

input:focus, input:active{
    outline: none;
    border-color: transparent;
    border-bottom: 2px solid var(--accent-color);
    color: var(--dark-text-color);
}

label{
    color: var(--primary-text-color);
    margin-right: 5px;
}